.currency {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.currency:hover {
  background-color: #ebebeb;
}

.currencyDirection {
  width: 75px;
}

.currencyCode {
  display: flex;
  align-items: center;
  gap: 6px;
}

.mockRadioSmall {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  cursor: pointer;
}

.arrowIcon {
  margin-left: auto;
}
