.graph {
  border: 1px solid #ebebeb;
  border-radius: 12px;
  overflow: hidden;
}

.graphHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 25px 30px;
}

.graphBody {
  width: 100%;
}

.graphFooter {
  width: 100%;
}
