.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #f6f6f6;
  cursor: pointer;
}
